:root {
  --bg: #212121;
  --font: #fff9f5;
  --orange: #ff4d00;
}

html {
  line-height: 1.5;
}

body {
  background-color: var(--bg);
  color: var(--font);
}

@media (prefers-color-scheme: light) {
  :root {
    --bg: #fff9f5;
    --font: #212121;
  }
}
